body {
  background-color: #afeeee;
}
.header {
  display: flex;
}
.header-logo {
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 10px;
  font-size: 80px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

/*.header-menu {
  margin-top: 60px;
  margin-left: 900px;
  color: white;
}*/

li {
  list-style-type: none;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 40px;
  margin-top: 10px;

  font-size: 40px;
  float: right;
  color: white;
}

.top {
  display: flex;
  text-align: center;
  justify-content: center;
}

.yazirusi {
  color: white;
  margin-top: 340px;
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.6;
}

.yazirusi:hover {
  opacity: 1;
}
.top img {
  margin-top: 30px;
  width: 900px;
  border-radius: 20px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  opacity: 0.4;
  margin-top: 150px;
}

.about {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 80px;
}

.about img {
  width: 300px;
}

.about-text {
  text-align: center;
  font-size: 30px;
  color: black;
  opacity: 0.3;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.diving {
  display: flex;
  justify-content: center;
}

.diving img {
  width: 400px;
  border-radius: 20px;
}

.card {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: black;
  opacity: 0.3;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.works {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.works img {
  width: 300px;
  border-radius: 30px;
}

.works h2 {
  margin-left: 40px;
}

.shumi {
  display: block;
  text-align: center;
  font-size: 30px;
  color: black;
  opacity: 0.3;
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 40px 0;
}
